@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Fjalla+One&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Monda:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

@font-face {
    font-family: 'Mera Pro', sans-serif;
    src: url(/src/fonts/merapro-v4oex.otf) format('opentype');
}

:root {
    --background-color: #070707;
    --menu-color: #161616;
    --font-color: #E2EAEB;
    --landing-page-orange: #FF6F1D;
    --about-page-orange: #FC5B00;
    --works-page-svg-green: #004D47;
    --works-page-green: #009562;
    --contact-page-blue: #00A4CC;
}