@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: white;
    /* Customize the cursor appearance as needed */
    border-radius: 50%;
    pointer-events: none;
    /* Ensure the cursor doesn't interfere with mouse events */
    mix-blend-mode: difference;
    /* Optional: Blend mode for better visibility */
    z-index: 9999;
    /* Ensure the cursor is above other elements */
}

body {
    cursor: none;
    /* Hide the default cursor */
}